.login-container {
  background-color: #272727;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-container {
  background-color: #2c364c;
  background-size: cover;
  height: 400px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.website-logo {
  height: 60px;
  width: 200px;
  margin-top: 30px;
}
.input-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.username-input-field {
  border: 1px solid #cbd5e1;
  background-color: transparent;
  color: #cbd5e1;
  height: 30px;
  margin-top: 5px;
  padding-left: 6px;
  width: 15vw;
  font-family: Roboto;
}
.input-label {
  font-family: Roboto;
  color: #ffffff;
  font-size: 15px;
}
.password-input-field {
  border: 1px solid #cbd5e1;
  background-color: transparent;
  color: #cbd5e1;
  height: 30px;
  margin-top: 5px;
  padding-left: 6px;
  margin-bottom: 40px;
  width: 15vw;
  font-family: Roboto;
}
.login-button {
  width: 15vw;
  height: 30px;
  margin-bottom: 20px;
  background-color: #6366f1;
  border-radius: 5px;
  border: 0px;
  color: #ffffff;
  font-family: Roboto;
}
.error-msg {
  font-family: Roboto;
  font-size: 20px;
  color: red;
}
